/* =========================
   CATEGORY HEADER
========================= */

.category-header {
    text-align: center;
    margin: 50px 0;
}

.category-main-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.category-header h2 {
    font-size: 22px;
    font-weight: bold;
    color: white;
}


/* =========================
   SUBCATEGORIES
========================= */

.subcategories-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.subcategory-item {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease;
}

.subcategory-item:hover {
    transform: scale(1.05);
}

.subcategory-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.subcategory-name {
    margin-top: 8px;
    font-size: 14px;
    white-space: nowrap;
}
.category-header p {
    max-width: 600px;
    margin: 10px auto 0;
    font-size: 14px;
    color: #ccc;
    line-height: 1.4;
}


/* CONTAINER */
.products-order-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

/* PRODUCTS */
.products-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-card {
    width: 180px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background: #111;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s, transform 0.2s;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card.selected {
    border-color: #b6b3b0;
}

/* ORDER PANEL */
.order-panel {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-panel h3 {
    margin-bottom: 5px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-controls input {
    width: 50px;
    text-align: center;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.final-order-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.final-order-box button, .final-order-box .btn {
    padding: 10px;
    background: #ffffff;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

